<section ng-show="atlasWearablesConfigCtrl.isLoading" layout-padding layout="column" layout-align="center center">

    <md-progress-circular md-mode='indeterminate' class="md-hue-2" md-diameter="64px"></md-progress-circular>
    <h3> Loading... </h3>

</section>

<section ng-hide="atlasWearablesConfigCtrl.isLoading" layout-padding>

    <div flex layout-padding>

        <h3 layout="row">
            <span flex>Atlas Wearables</span>
            <md-button ng-click="atlasWearablesConfigCtrl.saveConfig()" class="md-raised md-primary">Save</md-button>
        </h3>

        <md-input-container class="md-icon-float md-block">
            <label>Username</label>
            <md-icon class="material-icons">email</md-icon>
            <input ng-model="atlasWearablesConfigCtrl.awConfig.Username" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Sid</label>
            <md-icon class="material-icons">lock</md-icon>
            <input ng-model="atlasWearablesConfigCtrl.awConfig.Sid" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Secret</label>
            <md-icon class="material-icons">lock</md-icon>
            <input ng-model="atlasWearablesConfigCtrl.awConfig.Secret" type="text">
        </md-input-container>

    </div>

</section>